apiVersion: v1
data:
  pallete.json: |
    {
      "primary": "#003366",
      "secondary": "#fcba19"
    }
  content.json: |
    {
      "brandTitle": "BC Gov Github Access Management",
      "brandLogo": "https://www2.gov.bc.ca/StaticWebResources/static/gov3/images/gov_bc_logo.svg",
      "issuesLink": "https://github.com/bcgov/bcgov-just-ask/issues"
    }
  config.json: |
    {
      "noIndividualOrgRequests": true
    }
  entry.md: |
    # Add someone to the BC Government GitHub Org
    This tool allows you to add yourself or someone else to the BC Government's [BCGov GitHub org](https://github.com/bcgov) and [BCDevOps org](https://github.com/bcdevops). 
    People who belong to the org are able to create repos, submit pull requests, create issues, collaborate with other members and more. [See the full list of member privileges here](https://docs.github.com/en/organizations/managing-peoples-access-to-your-organization-with-roles/permission-levels-for-an-organization). 

    We’ll ask you to:
    - Provide the GitHub ID of anyone you wish to add. If you don’t have a GitHub ID, you can [create one here](https://github.com) 
    - Indicate whether this GitHub ID needs to be a part of BCGov or BCDevOps (you can join both if you wish). [Read about these orgs here](https://developer.gov.bc.ca/User-access-into-Github-or-Openshift).



    [Log In With Github]({% raw %}{{ login_link }}{% endraw %})
    
    
    ## Who can join?
    This is for anyone currently working on Government of BC digital products hosted on the private cloud OpenShift platform, including BC government employees and external contractors. You can submit a request for yourself, or on behalf of someone else. 

    All self-registering requests require the approval of the Platform Director before they can be processed. If you are new to the platform and requesting on belahf of yourself, please contact Olena Mitovska, Platform Director and provide the details about the BC Gov's project that you will be working on. 

    If you’re not currently part of a BC Government product team, your request may not be approved.

    ## What will happen next

    When your request is approved, you’ll recieve an email with an invitation to join. If you have not received an invitation to join within 1-2 days, or if something goes wrong, you can post a message on rocketchat (#labops-requests) or follow up with the Platform Director.
kind: ConfigMap
metadata:
  name: "{{ web.name }}-config"
  labels:
    app: "{{ web.name }}"
    group: "{{ app_name }}"