apiVersion: v1
data:
  pallete.json: |
    {
      "primary": "#003366",
      "secondary": "#fcba19"
    }
  content.json: |
    {
      "brandTitle": "BC Gov Github Access Management",
      "brandLogo": "https://www2.gov.bc.ca/StaticWebResources/static/gov3/images/gov_bc_logo.svg",
      "issuesLink": "https://github.com/bcgov/bcgov-just-ask/issues"
    }
kind: ConfigMap
metadata:
  name: "{{ web.name }}-config"
  labels:
    app: "{{ web.name }}"
    group: "{{ app_name }}"