apiVersion: v1
data:
  cors.json: |-
    [ "https://just-ask.developer.gov.bc.ca", "https://www.just-ask.developer.gov.bc.ca", "https://just-ask-web-bdec76-prod.apps.silver.devops.gov.bc.ca" ]
  config.json: |-
    {
      "orgs": [
        "bcgov"
      ],
      "primaryOrg": "bcgov"
    }
  role-mappers.json: |-
    {
      "APPROVER": [
        {
          "kind": "OrgRole",
          "role": "admin",
          "organization": "bcgov"
        }
      ],
      "REQUESTER": [null],
      "COLLABORATOR": [
        {
          "kind": "OrgRole",
          "role": "member",
          "organization": "bcgov"
        }
       ],
      "AUDITOR": [
        {
          "kind": "GithubTeam",
          "team": "just-ask-auditors",
          "organization": "bcgov"
        }
      ]
    }
kind: ConfigMap
metadata:
  name: "{{ api.name }}-config"
  labels:
    app: "{{ api.name }}"
    group: "{{ app_name }}"
