apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: {{ web.name }}
    app.kubernetes.io/part-of: {{ app_name }}
    group: {{ app_name }}
  name: {{ web.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ web.name }}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ web.name }}
    spec:
      volumes:
      - name: app-config
        configMap: 
          name: {{ web.name }}-config
      containers:
      - image: {{ web.image_registry }}/{{ web.image_name }}:{{ web.image_tag }}
        name: just-ask
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - name: app-config
            mountPath: /opt/app-root/www/public/config
        env:
          - name: CLIENT_ID
            value: {{ CLIENT_ID }}
          - name: API_BASE_URL
            value: https://{{ api.name }}-{{ namespace }}.apps.silver.devops.gov.bc.ca
        resources: {}
status: {}