apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ api.name }}
    app.kubernetes.io/part-of: {{ app_name }}
    group: {{ app_name }}
  name: {{ api.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ api.name }}
  strategy: {}
  template:
    metadata:
      labels:
        app: {{ api.name }}
    spec:
      volumes:
      - name: github-private-key
        secret: 
          secretName: {{api.name}}-private-key
      - name: app-config
        configMap: 
          name: {{ api.name }}-config
      containers:
      - image: {{ api.image_registry}}/{{ api.image_name }}:{{ api.image_tag }}
        imagePullPolicy: IfNotPresent
        name: {{ api.name }}
        volumeMounts:
          - name: github-private-key
            mountPath: /var/opt/config/private-key/github-private-key.pem
            subPath: github-private-key.pem
          - name: app-config
            mountPath: /var/opt/config/app-config
        env:
          - name: CONFIG_PATH
            value: /var/opt/config/app-config
          - name: PRIVATE_KEY_PATH
            value: /var/opt/config/private-key
          - name: PORT
            value: "{{ api.port }}"
          - name: MONGO_USER
            valueFrom:
              secretKeyRef:
                name: {{ db.name }}
                key: database-user
          - name: MONGO_DATABASE
            valueFrom:
              secretKeyRef:
                name: {{ db.name }}
                key: database-name
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ db.name }}
                key: database-password
          - name: MONGO_HOST
            value: {{ db.name }}
          - name: MONGO_URL
            value: mongodb://$(MONGO_USER):$(MONGO_PASSWORD)@$(MONGO_HOST)/$(MONGO_DATABASE)
          - name: LOG_TIME
            value: abs
          - name: WEB_URL
            value: https://{{web.name}}-{{ namespace }}.apps.silver.devops.gov.bc.ca
        envFrom:
          - secretRef:
              name: {{ api.name }}-client-credentials
        resources: {}
status: {}
