apiVersion: v1
stringData:
  database-admin-password: "{{ DB_ADMIN_PASSWORD }}"
  database-name: "{{ DB_NAME }}"
  database-password: "{{ DB_PASSWORD }}"
  database-user: "{{ DB_USER }}"
kind: Secret
metadata:
  name: "{{ db.name }}"
  labels:
    app: "{{ db.name }}"
    group: "{{ app_name }}"