apiVersion: v1
stringData:
  github-private-key.pem: "{{ PRIVATE_KEY }}"
kind: Secret
metadata:
  creationTimestamp: null
  name: "{{ api.name }}-private-key"
  labels:
    app: "{{ api.name }}"
    group: "{{ app_name }}"