apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ api.name }}"
    group: "{{ app_name }}"
  name: "{{ api.name }}"
spec:
  ports:
  - name: {{ api.port }}-{{ api.port }}
    port: {{ api.port }}
    protocol: TCP
    targetPort: {{ api.port }}
  selector:
    app: "{{ api.name }}"
  type: ClusterIP
status: {}