apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ db.name }}"
    group: "{{ app_name }}"
  name: "{{ db.name }}"
spec:
  ports:
  - name: {{ db.port }}-{{ db.port }}
    port: {{ db.port }}
    protocol: TCP
    targetPort: {{ db.port }}
  selector:
    app: "{{ db.name }}"
  type: ClusterIP
status: {}