name: On Deployment Created
on:
  push:
    branches:
      - main
      - test
env:
  OUTPUT_PATH: ${{ github.workspace }}/temp
jobs:
  deploy:
    name: Deploy Just ask
    runs-on: ubuntu-20.04
    environment: 
      name: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v1
    
      - name: Cluster Login
        uses: redhat-developer/openshift-actions@v1.1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER_URL }}
          parameters: '{"apitoken": "${{ secrets.OPENSHIFT_SA_PASSWORD }}"}'
          cmd: |
            'version'
      - uses: fabasoad/yaml-json-xml-converter-action@main
        id: yaml2xml
        with:
          path: 'group_vars/all/all.yaml'
          from: 'yaml'
          to: 'json'
      - name: Set deploy namespace
        id: set_deploy_namespace
        env:
          REF: ${{ github.ref }}
        run: |
           if [ $REF == 'refs/heads/main' ]
           then
              echo "::set-output name=namespace::${{fromJSON(steps.yaml2xml.outputs.data)['namespace']}}"
            else
              echo "::set-output name=namespace::${{fromJSON(steps.yaml2xml.outputs.data)['test_namespace']}}"
            fi
      - name: Load key
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: |
          mkdir $OUTPUT_PATH
          echo $PRIVATE_KEY > $OUTPUT_PATH/github-private-key.pem
      - name: Run Playbook
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          APP_ID: ${{ secrets.APP_ID }}
          DB_ADMIN_PASSWORD: ${{ secrets.DB_ADMIN_PASSWORD }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          NAMESPACE: ${{ steps.set_deploy_namespace.outputs.namespace }}
        run: >-
          ansible-playbook -i inventory/silver deploy.yaml
          -e CLIENT_ID=$CLIENT_ID
          -e CLIENT_SECRET=$CLIENT_SECRET
          -e APP_ID=$APP_ID
          -e DB_ADMIN_PASSWORD=$DB_ADMIN_PASSWORD
          -e DB_PASSWORD=$DB_PASSWORD
          -e DB_NAME=$DB_NAME
          -e DB_USER=$DB_USER
          -e output_path=$OUTPUT_PATH
          -e namespace=$NAMESPACE
